@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Welcome To FPT System Education</h1>
	@if (User.IsInRole("Admin"))
	{
		<h2>Hello Admin</h2>
	}
	
	@if (User.IsInRole("User"))
	{
		<h2>Welcome Trainee</h2>
	}
	@if (Request.IsAuthenticated)
	{
		<p>Username: @User.Identity.GetUserName()</p>
	}
	


</div>